[Unit]
Description=Rockblock2mav
After=network.target

[Service]
WorkingDirectory=/home/pi/rockblock2mav
ExecStart=/usr/bin/python3 rockblock2mav-webhook.py -out=udpout:127.0.0.1:14700 -imei=<IMEI> -rock7username=<EMAIL> -rock7password=<PASSWORD> -tcpinput=<PUBLIC_IP>:<PORT> -mav20
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target

